.Volet_gauche{
    background-color:var(--noir);
    width:21%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color:var(--fondFenetre);
    height:25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.Logo_et_compteFF{
    background-color:;
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.Logo{
    background-color:var(--fondFenetre);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Compte_FF{
    background-color:var(--noir);
    width: 70%;
    height: 30%;

    border: 3px solid var(--orange);
    margin:5% auto;
    padding:5%;
    font-size: 30px;
    text-align: center;
    color:var(--blanc)
}
.Photo_Profil{
    background-color:var(--fondFenetre);
    width:45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Boutons_et_menu{
    background-color:var(--noir);
    height:74%;
}
.Boutons{
    background-color:var(--noir);
    height: 15%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.Element-Bouton{
    transition: 0.3s;    
}
.Element-Bouton:hover{
    width:20%;
}
.Menu {
    margin-top: 10px;
}
.ElementDuMenu-Texte {
    color: var(--blanc);
    font-size: 34px;
    text-align: center;
    margin-bottom:20px;
    transition: 0.8s;
}
.ElementDuMenu-Texte:hover{
    background-color: var(--orange);
    font-size: 38px;
}



