.Fenetre_travail{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Recherche{
    height: 5%;
    width:98%;
}
.barreRecherche{
    border:none;
    padding: 10px;
    height: 40px;
    width: 95%;
    font-size: 1.2em;
    vertical-align: center;
}
.boutonRecherche{
    margin-left:10px;
}
.ChoixBoite{
    height: 5%;
    width:98%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Reception{
    width: 20%;
    background-color: var(--orange);
    color:var(--blanc);
    font-size: 1.2em;
}
.Archives{
    width: 20%;
    background-color: var(--violetf20);
    color:var(--blanc);
    font-size: 1.2em;
}
.Envoi{
    width: 20%;
    background-color: var(--violetf20);
    color:var(--blanc);
    font-size: 1.2em;
}
.TypeDeTri{
    width: 30%;
    background-color: var(--blanc);
    font-size: 1.2em;
}
.ListeMessages{
    height: 70%;
    width:98%;
    background-color:var(--fondFenetre);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
.Message1{
    display:flex;
    min-height: 11.7%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    background-color: var(--violetc10);
}
.imageExpediteur{
    width:6.5%;
    height: 100%;

}
.imgExpediteur{
    height: 100%;
    width: 100%;
}
.selectionMessage{
    width:5%;
}

input.selectionMessageX {
    transform : scale(2);
    border-radius: 2px;
}
.nomExpediteur{
    width:30%;
}
.sujetMessage{
    width:30%;
}
.iconeMessage{
    width:5%;
}
.dateMessage{
    width:10%;
}



.Boutons{
    height: 7%;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Publication-Bouton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}
.Publication-Bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.Publication-Bouton-Creer{
    color: #fff;
    background-color: var(--orange);
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Publication-Bouton-Creer:hover {
    background-color: var(--orangec10);
}

.EnvoiMessage{
    width:20%;
}
.Poubelle{
    width:5%;
}
.Validation{
    width:5%;
}

