form {
    display: flex;
    background-color: #FF6707;
    font-family: Krub;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
}

form>div {
    margin-left: 1em;
}

div>p {
    display: flex;
}

form input:not([type=submit]) {
    flex: 1;
}