.nav a:hover { background-color: #ff680f!important; }

.btn:hover { 
    background-color: #7713DD!important;
    border: none!important;
}

.btn { 
    border: 1px solid #ff680f!important;
    background-color: #ff680f!important;
}
