.Fenetre_travail{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.Recherche{
    height: 10%;
    background-color: var(--blanc);
}
                        
.Tri{
    height: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.PublicationsEnLigne{
    width: 30%;
    background-color: var(--orange);
}
.PublicationsExpirées{
    width: 30%;
    background-color: var(--violetf20);
}
.TypeDeTri{
    width: 30%;
    background-color: var(--blanc);
}
.ListePublications{
    height: 70%;
    background-color: var(--blanc);
}
                        /* <div class="Publication1"></div>
                        <div class="Publication2"></div>
                        <div class="Publication3"></div> */
.Boutons{
    height: 10%;
    background-color: var(--blancf20);
}
                        /* <div class="CreationPublication">
                            Créer une publication
                        </div>
                        <div class="Poubelle"></div>
                        <div class="Validation"></div>     */
