.Publication {
    background-color:var(--fondFenetre);
    height:14%;        
    color:var(--blanc);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    overflow:hidden;
 }
.annonceur {
  width:10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self:flex-start;
}
.fondImageAnnonceur {
  height: 80%;
}
.imageAnnonceur{
  height: 100%;
  border-radius: 30%;
  object-fit: contain;
}
.nomAnnonceur {
  height: 20%;
  color:var(--blancf20);
  text-align: center;
}
.texteAnnonce{
  width:78%;
}
.fondImageAnnonce {
  width:10%;
}
.imageAnnonce{
  width: 100%;
  object-fit: contain;
}
h5 {
  color:var(--orange);
  font-size: 1.5em;
  text-align:center;
}