body {
    background: linear-gradient(45deg,#7713DD, #ff680f);
}

.container {
    max-width: 700px;
    height: 600px;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
}

#login-form {
    border-right: 1px solid #7713DD;
}

#login-form {
   color: #7713DD;
}

#sign-up-form {
    color: #ff680f;
}

.btnSubmit1, .btnSubmit2 {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #7713DD;
}

.btnSubmit2{
    background-color: #ff680f;
}